.heading1{
    color:blue;
    text-align:center;
    font-weight:bold;
    text-decoration:underline;
}
.heading2{
  color:red;
  text-align:center;
  font-weight:bold;
    text-decoration:underline;
}
<body style="background-image:url(http://2.bp.blogspot.com/-AKCBabRz76o/UuzjFzR12JI/AAAAAAAAAw4/SJSe5F-m6us/s1600/Hero+Ability.png)">
