.heading1{
    color:blue;
    text-align:center;
    font-weight:bold;
    text-decoration:underline;
}
.heading2{
  color:red;
  text-align:center;
  font-weight:bold;
    text-decoration:underline;
}
body {
    background-image:"images\Desert.jpg";
    background-size:100% 100%;
} 
